Repository HeshamAbdallah02/AccountingSystem, changes with the owners that .github/CODEOWNERS names for each.
All owners: @HeshamAbdallah02, @api-team, @architecture-team, @infrastructure-team, @qa-team, @devops-team, @docs-team

.github/CODEOWNERS:

# Global owners
* @HeshamAbdallah02

# API layer
src/Accounting.Api/ @HeshamAbdallah02 @api-team

# Domain layer - requires architecture review
src/Accounting.Domain/ @HeshamAbdallah02 @architecture-team

# Infrastructure layer
src/Accounting.Infrastructure/ @HeshamAbdallah02 @infrastructure-team

# Application layer
src/Accounting.Application/ @HeshamAbdallah02

# Tests
src/Accounting.Tests/ @HeshamAbdallah02 @qa-team

# CI/CD workflows
.github/workflows/ @HeshamAbdallah02 @devops-team

# Documentation
*.md @HeshamAbdallah02 @docs-team

# Configuration files
*.json @HeshamAbdallah02
*.yml @HeshamAbdallah02
*.yaml @HeshamAbdallah02

refactor: Update entire project from .NET 9 to .NET 8 LTS
  .github/release-drafter.yml
  .github/workflows/codeql.yml
  .github/workflows/dotnet-cd.yml
  .github/workflows/dotnet-ci.yml
  .github/workflows/release.yml
  README.md
  USAGE.md
  src/Accounting.Api/Accounting.Api.csproj
  src/Accounting.Application/Accounting.Application.csproj
  src/Accounting.Domain/Accounting.Domain.csproj
  src/Accounting.Infrastructure/Accounting.Infrastructure.csproj
  src/Accounting.Tests/Accounting.Tests.csproj
Owners: @HeshamAbdallah02, @docs-team, @api-team, @architecture-team, @infrastructure-team, @qa-team

docs: Update project structure documentation
  project-structure.txt
Owners: @HeshamAbdallah02

fix: Update CodeQL workflow with enhanced permissions for security scanning
  .github/workflows/codeql.yml
Owners: @HeshamAbdallah02

fix: Correct Dockerfile WORKDIR path to resolve Docker build failure
  src/Accounting.Api/Dockerfile
Owners: @HeshamAbdallah02, @api-team

fix: Update .gitignore to allow Dockerfiles in the repository
  .gitignore
Owners: @HeshamAbdallah02

fix: Split CI workflow for Windows and Ubuntu to handle SQL Server container limitation
  .github/workflows/dotnet-ci.yml
Owners: @HeshamAbdallah02

refactor: Remove Ubuntu CI job and simplify to Windows-only workflow
  .github/workflows/dotnet-ci.yml
  USAGE.md
Owners: @HeshamAbdallah02, @docs-team

fix: Remove Docker/Testcontainers dependency from Windows CI workflow
  .github/workflows/dotnet-ci.yml
  src/Accounting.Tests/Accounting.Tests.csproj
  src/Accounting.Tests/Integration/ApiIntegrationTests.cs
Owners: @HeshamAbdallah02, @qa-team

docs: Update USAGE.md with Windows CI workflow guidance and Docker troubleshooting
  USAGE.md
Owners: @HeshamAbdallah02, @docs-team

feat(swagger): clean-arch swagger module, xml docs, CI export
  .github/workflows/dotnet-ci.yml
  src/Accounting.Api/Accounting.Api.csproj
  src/Accounting.Api/Controllers/WeatherForecastController.cs
  src/Accounting.Api/Extensions/SwaggerApplicationBuilderExtensions.cs
  src/Accounting.Api/Extensions/SwaggerServiceExtensions.cs
  src/Accounting.Api/Program.cs
Owners: @HeshamAbdallah02, @api-team

feat: add XML docs and HTTPS troubleshooting tools
  .github/workflows/codeql.yml
  fix-local-https.ps1
  src/Accounting.Api/Program.cs
  start-api.bat
Owners: @HeshamAbdallah02, @api-team

feat(ci): configure HTTP-only mode for CI environments
  src/Accounting.Api/Program.cs
  src/Accounting.Api/Properties/launchSettings.json
Owners: @HeshamAbdallah02, @api-team

fix(ci): resolve CI swagger export issues and XML warnings
  src/Accounting.Api/Controllers/WeatherForecastController.cs
  src/Accounting.Api/Extensions/SwaggerApplicationBuilderExtensions.cs
  src/Accounting.Api/WeatherForecast.cs
  test-ci-config.ps1
Owners: @HeshamAbdallah02, @api-team

fix(tests): resolve async method warning in ApiIntegrationTests
  src/Accounting.Tests/Integration/ApiIntegrationTests.cs
Owners: @HeshamAbdallah02, @qa-team
